@font-face
{
    font-family: SegoeUISemiBold;
    src: url('../Fonts/seguisb.ttf'), url('../Fonts/seguisb.eot');
}

@font-face
{
    font-family: SegoeUILight;
    src: url('../Fonts/segoeuil.ttf'), url('../Fonts/segoeuil.eot');
}

body
{
    background-color: #F4F4F4;
    font-family: SegoeUISemiBold, Sans-Serif;
    margin: 0;
    overflow: hidden;
}

#wrapper
{
    height: 100%;
}

#home.page
{
    border: 0px solid #000;
    height: 550px;
    margin-top: -275px;
    position: absolute;
    top: 50%;
    width: 100%;
}

#header
{
    background-image: url(../Images/wavegrid.png);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 50px;
    width: 100%;
    box-shadow: 0 0 50px #E6E6E6;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#header
{
    transition: box-shadow .4s, border .4s;
    -moz-transition: box-shadow .4s, border .4s;
    -webkit-transition: box-shadow .4s, border .4s;
    -o-transition: box-shadow .4s, border .4s;
}

#logo
{
    margin: 0 auto;
    padding: 20px;
    width: 200px;
}

#menu
{
    margin: 70px auto 0 auto;
    text-align: center;
    width: 90%;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu div
{
    background-color: #ACF;
    background-image: url(../Images/sprites2.png);
    background-repeat: no-repeat;
    border: 1px solid #79C;
    border-radius: 200px;
    box-shadow: 0 0 10px #BBB;
    color: #247;
    cursor: pointer;
    display: inline-block;
    font-size: 20pt;
    line-height: 100px;
    margin: 0 45px;
    height: 200px;
    opacity: .8;
    text-align: center;
    text-shadow: 1px 1px #CCC;
    width: 200px;
    transition: box-shadow .4s, border .4s, background-image .6s, color .4s, text-shadow .4s, opacity .4s;
    -moz-transition: box-shadow .4s, border .4s, background-image .6s, color .4s, text-shadow .4s, opacity .4s;
    -webkit-transition: box-shadow .4s, border .4s, background-image .6s, color .4s, text-shadow .4s, opacity .4s;
    -o-transition: box-shadow .4s, border .4s, background-image .6s, color .4s, text-shadow .4s, opacity .4s;
}
#menu div:hover
{
    box-shadow: 0 0 20px #BBB;
    opacity: 1;
}
#menu div:active
{
    box-shadow: 0 0 20px #FFF;
    color: #136;
}
#menu div .mark
{
    background-image: url(../Images/sprites2.png);
    display: block;
    height: 100px;
    margin: -20px 0 0 75px;
    opacity: 0;
    width: 100px;
    transition: opacity .4s;
    -moz-transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
}
#menu div:hover .mark
{
    opacity: .6;
}
#menu div:active .mark
{
    opacity: 1;
}
#menu div a
{
    color: inherit;
    text-decoration: none;
}

#menu .aboutUs
{
    background-position: 75px 80px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: dashed;
}
#menu .aboutUs .mark
{
    background-position: 0px -300px;
}

#menu .services
{
    background-position: -225px 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: dashed;
}
#menu .services .mark
{
    background-position: -300px -300px;
}

#menu .contact
{
    background-position: -525px 80px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-style: dashed;
}
#menu .contact .mark
{
    background-position: -600px -300px;
}

#logo
{
    margin: 0 auto;
    padding: 20px;
    width: 200px;
}

#aboutUs .content .first
{
    background: url('../Images/aboutus_sprite.png') no-repeat;
    border-bottom: 1px dashed #CCC;
    height: 70px;
    text-align: center;
}
#aboutUs .content .first p
{
    line-height: 50px;
    margin-left: 30px;
}
#aboutUs .content .first:hover
{
    color: #404040;
}

#aboutUs .content .second
{
    background: url('../Images/aboutus_sprite.png') no-repeat 0 -70px;
    border-bottom: 1px dashed #CCC;
    height: 70px;
    text-align: center;
}
#aboutUs .content .second p
{
    line-height: 50px;
    margin-left: 30px;
}
#aboutUs .content .second:hover
{
    color: #404040;
}

#aboutUs .content .third
{
    background: url('../Images/aboutus_sprite.png') no-repeat 0 -140px;
    height: 70px;
    text-align: center;
}
#aboutUs .content .third p
{
    line-height: 50px;
    margin-left: 30px;
}
#aboutUs .content .third:hover
{
    color: #404040;
}

#aboutUs .footer
{
    margin: 40px auto;
}

#aboutUs .back
{
    margin: 50px auto;
    margin-bottom: 0;
}

#services .content
{
    background: url('../Images/services_sprite2.png') no-repeat 240px 190px;
    height: 300px;
    margin-bottom: 0;
    text-align: center;
}

#services .footer
{
    margin: 40px auto;
    margin-top: 0;
}

#services .back
{
    margin: 40px auto;
    margin-bottom: 0;
}

#contact .content
{
    height: 300px;
    margin-bottom: 0;
    text-align: center;
}

#contact .content .social
{
    border: 0px solid red;
    float: left;
    margin-left: 50px;
    width: 80px;
}
#contact .content .social a
{
    display: block;
    margin: 10px;
    text-align: left;
}
#contact .content .social img
{
    border: none;
}

#contact .content .form
{
    border: 0px solid green;
    font-size: 12pt;
    margin: 0 auto;
    text-align: left;
    width: 650px;
}
#contact .content .form form
{
    box-sizing: border-box;
    margin-left: 125px;
    width: 400px;
}
#contact .content .form label
{
    display: block;
    margin-top: 10px;
}
#contact .content .form input, #contact .content .form textarea
{
    border: 1px solid #AAA;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: SegoeUILight, Sans-Serif;
    font-size: 10pt;
    outline: none;
    padding: 5px;
    width: 300px;
}
#contact .content .form textarea
{
    resize: none;
    width: 400px;
}
#contact .content .form .buttons
{
    text-align: right;
}
#contact .content .form .buttons input
{
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-family: SegoeUISemiBold, Sans-Serif;
    font-size: 12pt;
    margin-top: 10px;
    text-shadow: 1px 1px #CCC;
    width: 80px;
}
#contact .content .form .buttons input[type=reset]
{
    background-color: #FFF;
    box-shadow: 0 0 5px #DDD;
    margin-right: 10px;
}
#contact .content .form .buttons input[type=reset]:active
{
    box-shadow: 0 0 5px #DDD inset;
}
#contact .content .form .buttons input[type=submit]
{
    background-color: #48D;
    border-color: #666;
    box-shadow: 0 0 5px #BBB;
    color: #DDD;
    text-shadow: 1px 1px #666;
}
#contact .content .form .buttons input[type=submit]:focus
{
    border-color: #444;
}
#contact .content .form .buttons input[type=submit]:active
{
    box-shadow: 0 0 5px #777 inset;
}
#contact .content .form input:focus, #contact .content .form textarea:focus
{
    border-color: #888;
}

#contact .footer
{
    margin: 40px auto;
}

#contact .back
{
    margin: -40px auto;
    margin-bottom: 0;
}

#subpages
{
    border: 0px solid #000;
    height: 550px;
    position: absolute;
    top: 100%;
    width: 300%;
}

#subpages .page
{
    display: inline-block;
    width: 980px;
}
#subpages .page .header
{
    height: 112px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#subpages .page .header .title
{
    background: url('../Images/Trid-logo-100.png') no-repeat;
    cursor: default;
    height: 100%;
    margin: 0 auto;
    width: 260px;
}
#subpages .page .header .title h1
{
    color: #404040;
    display: inline;
    font-size: 30pt;
    line-height: 106px;
    margin-left: 120px;
    text-shadow: 1px 1px #909090;
}
#subpages .page .content
{
    color: #757575;
    cursor: default;
    font-family: SegoeUILight, Sans-Serif;
    font-size: 14pt;
    margin-top: 35px;
    text-shadow: 1px 1px #E0E0E0;
    width: 980px;
}
#subpages .page .content .strong
{
    color: #111;
}
#subpages .page .content div
{
    transition: color .4s;
    -moz-transition: color .4s;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
}
#subpages .page .footer
{
    color: #48D;
    cursor: default;
    font-family: SegoeUILight, Sans-Serif;
    font-size: 14pt;
    text-align: center;
    text-shadow: 1px 1px #DDD;
    width: 980px;
}
#subpages .page .footer a
{
    color: #48D;
    font-family: SegoeUISemiBold, Sans-Serif;
    text-decoration: none;
    transition: text-shadow .4s;
    -moz-transition: text-shadow .4s;
    -webkit-transition: text-shadow .4s;
    -o-transition: text-shadow .4s;
}
#subpages .page .footer a:hover
{
    text-shadow: 1px 1px #AAA;
}
#subpages .page .back
{
    font-family: SegoeUILight, Sans-Serif;
    font-size: 14pt;
    text-align: right;
    width: 980px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#subpages .page .back a
{
    background-color: #888;
    background-image: url('../Images/arrow_top_25.png');
    background-repeat: no-repeat;
    border: 1px solid #777;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #CCC;
    color: #DDD;
    padding: 2px 10px 2px 25px;
    text-decoration: none;
    text-shadow: 1px 1px #666;
    transition: text-shadow .4s, background-color .4s, border-color .4s, box-shadow .4s;
    -moz-transition: text-shadow .4s, background-color .4s, border-color .4s, box-shadow .4s;
    -webkit-transition: text-shadow .4s, background-color .4s, border-color .4s, box-shadow .4s;
    -o-transition: text-shadow .4s, background-color .4s, border-color .4s, box-shadow .4s;
}
#subpages .page .back a:hover
{
    background-color: #777;
    border-color: #666;
    box-shadow: 0px 0px 10px #AAA;
    text-shadow: 1px 1px #444;
}
#subpages .page .back a:active
{
    box-shadow: 0px 0px 10px #555 inset;
}

#subpages > .header
{
    background-image: url(../Images/wavegrid.png);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 0 10px #DDD;
    height: 112px;
    margin-bottom: -114px;
}

.transitionable
{
    transition: top 1s, left 1s, margin 1s;
    -moz-transition: top 1s, left 1s, margin 1s;
    -webkit-transition: top 1s, left 1s, margin 1s;
    -o-transition: top 1s, left 1s, margin 1s;
}